
@using Humanizer;
@using Asparagus.Domain.Models;
@model IReadOnlyList<FeedItem>

@{
    ViewData["Title"] = "GetList";
    Layout = "_Layout";
}

<h1>Лента</h1>

<p>
    <a asp-action="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
    
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.DateTime @item.Name ел спаржу @(item.Count > 1 ? "уже" : "только в") @item.Count.Ordinalize() раз
                </td>
              
            </tr>
        }
    </tbody>
</table>
